<div class="code-block">
  <div class="code-block__header">
    <span class="code-block__lang">{{ title() ?? language() }}</span>
    <button type="button" class="code-block__copy" (click)="copy()">
      @if (copied()) {
        <span>✓ Copied</span>
      } @else {
        <span>Copy</span>
      }
    </button>
  </div>

  <div class="code-block__body">
    @if (showLineNumbers()) {
      <div class="code-block__gutter" aria-hidden="true">
        @for (line of lines(); track $index) {
          <span>{{ $index + 1 }}</span>
        }
      </div>
    }
    <pre class="code-block__pre"><code [innerHTML]="highlightedHtml()"></code></pre>
  </div>
</div>
